.projects {
  flex: 1;
  height:calc(100vh);
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  background: linear-gradient(45deg,#000000,#0c2429,#000000);
  background-size: 400% 400%;
  animation: color 10s ease-in-out infinite;
  font-family: "Abel", sans-serif;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.projects h3 {
  margin: 30px;
  background-color: #257180;
  width: fit-content;
  font-family: "roboto", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  border-left: 5px solid #3baec5;
}
.projectTop {
  position:sticky;
  top: 0px;
  left: 10px;
  backdrop-filter: blur(10px);
  height: 60px;
  z-index: 999; 
  padding: 10px;
}
.projectCards {
  display: grid;
  row-gap: 25px;
  margin-bottom: 160px;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.projectContent-top {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.projectContent-desc {
  flex: 3;
}

.projectContent-desc p {
  text-align: justify;
}

.projectContent a {
  padding: 3px 15px;
  width: fit-content;
  height: fit-content;
  bottom: 2px;
  background-color: #257180;
  border: 1.5px solid white;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  color: white;
  border-radius: 2px;
}
.projectTechs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.projectTechs {
  text-align: center;
}
.techs {
  padding: 1px;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 10px;
  
  font-weight: bold;
  color: #000000;
  background-color: #43cde9;
}
.projectView {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: end;
  padding: 10px;
  padding-top: 20px;
}
.card {
  display: flex;
  width: 65%;
  border: 1px solid #257180;
  border-radius: 10px;
}
.projectImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectContent {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 20px;
}
.projectContent-top h5 {
  padding: 3px;
  padding-right: 5px;
  border-right: 2px solid #257180;
  border-bottom: 2px solid #257180;
}

@media (max-width: 768px) {
  .projectCards {
    margin-top: 10px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
  }
  .card {
    flex-direction: column;
  }
  .projectImg img {
    padding: 10px;
  }
}
