.imgHome {
  object-fit: contain;
  width: 60%;
  border-radius: 40px;
}

.homeContent {
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(45deg,#000000,#0c2429,#000000);
  background-size: 400% 400%;
  animation: color 10s ease-in-out infinite;
  background-color: #000000;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.homeText {
  position: relative;
  background-color: #000000;
  color: #257180;
  border: 1px solid #257180;
  border-radius: 16px;
  padding: 20px;
  width: 60%;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}
.homeText h3{
  font-size: 14px;
  border: 0.5px solid #257180;
  padding: 4px;
  border-right:5px solid #257180 ;
}
.homeText h1{
  font-size: 29px;
}
.homeText-sub {
 position: absolute;
 bottom: 5px;
 right: 20px;
 cursor: pointer;
}
.homeText h4{
  background-color: #a1c4d2;
  border-left: 15px solid #257180 ;
  border-radius: 5px;
  width:fit-content;
  padding: 5px 10px;
 
}
.homeText-l {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: justify;
  
}
.homeText-r {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

button{
  height: 40px;
  width: 40px;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 800px){
  .homeText{
    flex-direction: column;
    width: 60%;
    height: 450px;
  }
  .imgHome{
    width: 80%;
    border-radius: 20px;

  }
  .homeText-l ,.homeText-r{
    flex: none;
    width: 100%;
  }
  .homeText h1,h3,h4{
    font-size: small;
  }
  /* .homeText h1{
    text-align: center;
  } */
}
@media (max-width: 1024px) {
  .homeText{
    flex-direction: column;
  }
  .imgHome{
    width: 45%;
  }
}