/* From Uiverse.io by gharsh11032000 */ 
.cardx {
    position: relative;
    width: 400px;
    max-width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardx img {
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardx:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  .about_container{
    background-color: #000000;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    z-index: 20;
  }
  


  @media (max-width: 768px) {
    .about_container{
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-height: fit-content;
    }
    .article_container{
      flex-direction: column;
      gap: 30px;
      padding-right: 60px;
      /* padding-right: 30px; */
      justify-content: center;
      height: 100vh;
    }
    .cardx {
      position: relative;
      margin-top: 20px;
      /* padding-top: 20px; */
      width: 100%;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
  }
  /* From Uiverse.io by SouravBandyopadhyay */ 
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 150%;
  height: 8rem;
  background: #29292c;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  /* --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff); */
  --color: #32a6ff
}
.top_content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.top_content_skills{

}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

.wrapper {
  min-height: 3rem;
  min-width: 10rem;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  font-family: monospace;
}

.letter {
  width: 1ch;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  left: 100%;
  animation: scroll 2.5s linear infinite;
}

@keyframes scroll {
  to {
    left: -1ch;
  }
}

.letter1 {
  animation-delay: calc(2.5s / 10 * (10 - 1) * -1);
}
.letter2 {
  animation-delay: calc(2.5s / 10 * (10 - 2) * -1);
}
.letter3 {
  animation-delay: calc(2.5s / 10 * (10 - 3) * -1);
}
.letter4 {
  animation-delay: calc(2.5s / 10 * (10 - 4) * -1);
}
.letter5 {
  animation-delay: calc(2.5s / 10 * (10 - 5) * -1);
}
.letter6 {
  animation-delay: calc(2.5s / 10 * (10 - 6) * -1);
}
.letter7 {
  animation-delay: calc(2.5s / 10 * (10 - 7) * -1);
}
.letter8 {
  animation-delay: calc(2.5s / 10 * (10 - 8) * -1);
}
.letter9 {
  animation-delay: calc(2.5s / 10 * (10 - 9) * -1);
}
.letter10 {
  animation-delay: calc(2.5s / 10 * (10 - 10) * -1);
}

  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardx:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .cardx:hover img {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
 
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

#img11{
    width: 75%;
    margin-top: 10px;
    padding:4px 4px 4px 4px;
    max-width: 75%;
    border-radius: 10px; 
}
#img12{
  width: 75%;
  margin-top: 2px;
  margin-bottom: 3px;
  padding:4px 4px 4px 4px;
  max-width: 100%;
  border-radius: 10px; 
}
.project-info {
  padding: 100px 40px;
  gap: 20px;
  position: relative;
  top: -50px;
  padding-bottom: 50px;
}
.project-title {
  padding-top: 55px;
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
.lighter {
  font-size: 0.9em;
  text-align: left;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-weight: lighter;
  color: grey;
}

.card {
  background-color: white;
  color: black;
  width: 250px;
 display: flex;
 align-items: center;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img {
  position:relative;
  top: +40px;
  /* left: -10px; */
  height: 100px;
  display: flex;
  justify-content: center;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img a,
.card-img img {
  height: 140%;
  width: 100%;
  /* Change this width here to change the width of the color/image */
  /* object-fit: cover; */
  /* padding-left: -30px; */
border-radius: 10px;
align-items: center;
/* margin-left: 10px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
  transition: all 0.5s;
}
.article_container{
 display: flex;
 gap: 80px;
 max-width:50%;


}

img{
  margin-top: 25px;
}